Host github.com
    HostName ssh.github.com
    Port 443
    User git
    IdentityFile ~/.ssh/id_ed25519

Host framearch-juan
    HostName framearch-juan
    User juan

Host ubuntu-desktopos
    HostName desktopos-2526s1-1008-ubu-juanbenjumeamoreno.westeurope.cloudapp.azure.com
    User ehbstudent
    Port 60022
    IdentityFile ~/.ssh/id_ed25519

Host liedelpi
    HostName liedelpi.bonobo-fort.ts.net
    User juan
    IdentityFile ~/.ssh/id_rsa

Host integration-vm
    HostName integrationproject-2526s2-wt02.westeurope.cloudapp.azure.com 
    User ehbstudent
    Port 60022
    IdentityFile ~/.ssh/id_ed25519
