Host bf-lt020980
    HostName bf-lt020980.bonobo-fort.ts.net
    User jbenjumeamoreno

Host framearch-juan
    HostName framearch-juan.bonobo-fort.ts.net
    User juan

Host liedelpi
    HostName liedelpi.bonobo-fort.ts.net
    User juan
    ProxyJump framearch-juan
    StrictHostKeyChecking accept-new

Host arch-wsl
    HostName 100.81.226.52
    User juan
    RequestTTY auto

Host mac-juan
    HostName mac-juan.bonobo-fort.ts.net
    User juanbenjumea

Host acerpepe
    HostName acerpepe.bonobo-fort.ts.net
    User juan

Host github.com
    HostName ssh.github.com
    Port 443
    User git
