@page "/login"
@layout MainLayout

<h3>Login</h3>

<div class="login-card">
    <label>Username</label>
    <input />
    <label>Password</label>
    <input type="password" />
    <button>Sign in</button>
</div>